.titulo{

    text-align: center;
    color: darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.lista{
    list-style: none;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    width: 200px;
    border: 1px solid #777777;
    position:  relative; 
    right: -34px;
    padding-left: 0px;
    cursor: pointer;
}



.general{
text-align: center;

}

.poblacion, #resultado{
    width: 500px;
    margin: auto;
    margin-top:50px;
    background-color: white;
    padding: 20px;
    opacity: 0.9;
    border-radius:4px  ;

}

#resultado {
    display: none;
}

.label{
    width:80px ;
}

body{
    background-image:url("./img/pueblo1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#busqueda{
    width: 200px;
}

button{ 
    margin: 5px;
}

#map{
    width: 500px;
    height: 500px;
}

span{
    font-weight: bold;
}